<ion-icon *ngIf="imgSource.size == 0" class="placeholder-icon" name="image-outline"></ion-icon>
<image-cropper *ngIf="(imgSource.size != 0) && ratio" class="imgCropper" [imageFile]="imgSource"
  [roundCropper]="roundCropper" [maintainAspectRatio]="true" [aspectRatio]="ratio" format="png"
  (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
  (loadImageFailed)="loadImageFailed()">
</image-cropper>
<image-cropper *ngIf="(imgSource.size != 0) && !ratio" class="imgCropper" [imageFile]="imgSource"
  [roundCropper]="roundCropper" [maintainAspectRatio]="maintainAspectRatio" format="png"
  (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
  (loadImageFailed)="loadImageFailed()">
</image-cropper>
<ion-button class="ion-margin-start ion-margin-end ion-margin-top" expand="block" fill="clear"
  (click)="launchActionSheet()">
  <ion-icon slot="icon-only" name="camera-outline"></ion-icon>Choose new image
</ion-button>
<div id="pwa">
  <input type="file" id="browserphoto" #browserphoto accept="image/x-png,image/jpeg" (change)="chooseImgBrowser()">
</div>