/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.content {
  max-width: 640px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-item {
  --ion-item-background: transparent !important;
}

.actionSheetButtonInvisible {
  display: none !important;
}

.no-bg {
  background: none !important;
}

.no-border {
  --border: 0px;
}

.sucChngCredMsg {
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--ion-color-success);
  font-size: 16px;
  text-align: center;
}

.sucChngCredMsg ion-icon {
  font-size: 125px;
}

.errChngCredMsg {
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--ion-color-danger);
  font-size: 16px;
  text-align: center;
}

.errChngCredMsg ion-icon {
  font-size: 125px;
}

ion-refresher {
  z-index: 999;
}

.spinner-container {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.aligner-item {
  margin: auto;
}

.icon-header {
  text-align: center;
}

.icon-header ion-icon {
  font-size: 60px;
}

.hr-text {
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 1em;
  position: relative;
  border: 0;
  color: var(--ion-color-medium);
  text-align: center;
  height: 1.5em;

  &:before {
    content: "";
    background: var(--ion-color-medium);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }

  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 0.5em;
    line-height: 2em;
    font-size: 12px;
    /* Background color of container */
    background-color: var(--ion-background-color);
  }
}

// LazyLoad
img {
  transition: opacity 1s;
  opacity: 0;
}

img.ng-lazyloaded {
  opacity: 1;
}

img.source-image {
  opacity: 1 !important;
}

img.info-img {
  opacity: 1 !important;
}
