<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="tertiary">
        <ion-icon name="cloud-offline" class="ion-margin-end"></ion-icon>
        <b>CAIN stack</b>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" [routerLink]="['/login']" routerDirection="forward">
      <ion-button>
        <ion-icon name="log-in-outline"></ion-icon>
        login
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <info-slider></info-slider>
</ion-content>