ion-item {
  --padding-start: 0px;
  --inner-padding-start: 0px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeInWarn {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  padding-left: 20px;
  padding-top: 3px;
}

.error_warn {
  color: red;
  --border-style: none;
}

.divider {
  background-color: var(--ion-color-medium);
}

.img-upload-wrapper {
  height: 100%;
  padding-bottom: 20px;
}
