.footer-toolbar {
	box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.35);
}

textarea {
	width: calc(100% - 20px);
	margin-left: 10px;
	font-size: 1.2em;
	resize: none;
	border: none;
}

ion-item {
	--ion-item-background: var(--ion-color-light);
}

.chat-bubble {
	// width: 65%;
	overflow: hidden;
}

.chat-message {
	margin-top: 0;
	margin-bottom: 12px;
	padding: 9px 9px 18px 9px;
	border-radius: 5px;
	white-space: normal;
	background-color: var(--ion-color-primary);
}

.chat-date {
	font-style: italic;
	font-size: 12px;
	float: left;
}

ion-item:last-child .chat-bubble {
	animation: slideIn 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
	animation-fill-mode: forwards;
}

.own {
	margin-left: auto;
	.chat-message {
		background-color: var(--ion-color-medium);
		color: #fff;
	}

	.chat-date {
		float: right;
	}
}

@keyframes slideIn {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
