<ion-card class="ion-no-margin ion-margin-bottom">
  <ion-item>
    <ion-avatar slot="start">
      <div class="photo"></div>
    </ion-avatar>
    <ion-skeleton-text animated></ion-skeleton-text>
  </ion-item>
  <ion-card-content>
    <div></div>
    <ion-label>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-label>
  </ion-card-content>
</ion-card>