ion-card-content div {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  background-color: var(--ion-color-medium);
}

.photo {
  width: 40px;
  height: 40px;
  background-color: var(--ion-color-medium);
  border-radius: 50%;
}
