<ion-slides pager="true" class="info-slider">
  <ion-slide>
    <ion-card class="info-slider ion-no-margin no-border-radius">
      <img src="/assets/info/community.svg" class="ion-padding-top info-img" />
      <ion-card-header>
        <ion-card-subtitle>By the people, for the people</ion-card-subtitle>
        <ion-card-title>Substainable & affordable livelihoods</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="feature-list">
          <ion-item lines="none" class="feature-item">
            <ion-icon name="cash-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              Get your daily needs: food, transport and utilities for the lowest price
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="feature-item">
            <ion-icon name="earth-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              Organised by a decentralised non-profit foundation so that you only pay what you are using
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="feature-item">
            <ion-icon name="leaf-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              100% green and substainable
            </ion-label>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>
    <div *ngIf="!isMobile" class="swiper-button-next" (click)="next()"></div>
  </ion-slide>
  <ion-slide>
    <ion-card class="info-slider ion-no-margin no-border-radius">
      <img src="/assets/info/green-utility.svg" class="ion-padding-top info-img" />
      <ion-card-header>
        <ion-card-subtitle>Use and sell energy & internet</ion-card-subtitle>
        <ion-card-title>Decentralised utility market</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="feature-list">
          <ion-item lines="none" class="feature-item">
            <ion-icon name="battery-charging-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              Sell your excess self-produced electricity or request additional power
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="feature-item">
            <ion-icon name="wifi-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              Give others access to your excess bandwidth or buy more speed when you need it
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="feature-item">
            <ion-icon name="globe-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              Your neighbor, your grandma and maybe even your doghouse supply each other with electricity and internet
            </ion-label>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>
    <div *ngIf="!isMobile" class="swiper-button-next" (click)="next()"></div>
    <div *ngIf="!isMobile" class="swiper-button-prev" (click)="prev()"></div>
  </ion-slide>
  <ion-slide>
    <ion-card class="info-slider ion-no-margin no-border-radius">
      <ion-card-header>
        <ion-icon name="cloud-offline" color="tertiary" class="cta-logo"></ion-icon>
        <ion-card-subtitle>get to know the future of web apps</ion-card-subtitle>
        <ion-card-title>Join now!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="content">
          <ion-button color="primary" expand="block" type="button" [routerLink]="['/login']" routerDirection="forward">
            Login
          </ion-button>
          <hr class="hr-text" data-content="New here?" />
          <ion-button color="secondary" expand="block" fill="outline" type="button" [routerLink]="['/register']"
            routerDirection="forward">
            Create an Account
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <div *ngIf="!isMobile" class="swiper-button-prev" (click)="prev()"></div>
  </ion-slide>
</ion-slides>