.info-slider {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: var(--ion-background-color);
}

.info-img {
  width: 150px;
}

.feature-list {
  max-width: 500px;
  margin: auto;
}

.feature-item ion-icon {
  font-size: 30px;
}

.cta-logo {
  font-size: 150px;
}

.no-border-radius {
  border-radius: 0px !important;
}
