<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-back-button [defaultHref]="['/info']"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="aligner">
        <div class="aligner-item">
            <div class="icon-header">
                <h1>
                    <ion-icon name="cloud-offline"></ion-icon><br>CAIN stack template
                </h1>
                <h2>by heichling.xyz</h2>
            </div>

            <p *ngIf="mailConfirmErr" class="mailConfirmMsg">
                <ion-icon name="alert-circle-outline"></ion-icon>{{mailConfirmErr}}
            </p>

            <p *ngIf="mailConfirmed" class="mailConfirmMsg">
                <ion-icon name="thumbs-up-outline"></ion-icon>E-mail confirmed
            </p>


            <form [formGroup]="loginForm" id="loginForm" (keyup.enter)="login()">
                <ion-item class="ion-no-padding standard-bg">
                    <ion-input type="text" formControlName="username" placeholder="Username"></ion-input>
                    <ion-icon color="medium" slot="end" name="person-outline"></ion-icon>
                </ion-item>
                <ion-note *ngIf="hasFormError('username')" class="fadeInWarn" color="tertiary">
                    Please enter your username
                </ion-note>

                <ion-item class="ion-no-padding standard-bg">
                    <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
                    <ion-icon color="medium" slot="end" name="key-outline"></ion-icon>
                </ion-item>
                <ion-note *ngIf="hasFormError('password')" class="fadeInWarn" color="tertiary">
                    Please enter your password
                </ion-note>

                <ion-button expand="block" color="primary" fill="solid" class="ion-margin-top" type="submit"
                    (click)="login()">
                    Log In
                </ion-button>
                <ion-note *ngIf="errMessage" class="fadeInWarn" color="tertiary">
                    {{errMessage}}
                </ion-note>
            </form>

            <hr class="hr-text" data-content="New here?" />

            <ion-button color="secondary" expand="block" fill="outline" type="button" [routerLink]="['/register']"
                routerDirection="forward">
                Create an Account
            </ion-button>

            <div class="ion-text-center ion-padding">
                <a [routerLink]="['/forgot-pwd']" routerDirection="forward" class="forgot-pwd">Forgot password?</a>
            </div>
        </div>
    </div>
</ion-content>