<ion-tabs>
    <ion-tab-bar *ngIf="isMobile"  translucent="true">
        <ion-tab-button tab="conversations">
            <ion-icon name="chatbubbles-outline"></ion-icon>
            <ion-label>Conversations</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="feed">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Feed</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="me">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>