<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="secondary" collapse="true">
      <ion-back-button defaultHref="/app/feed"></ion-back-button>
    </ion-buttons>
    <ion-title>{{userName | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <div class="content">
    <ion-header collapse="condense">
      <ion-toolbar color="ion-color-step-50">
        <ion-buttons slot="end" collapse="true">
          <ion-back-button defaultHref="app/feed"></ion-back-button>
        </ion-buttons>
        <ion-title size="large">{{userName | titlecase}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card class="no-bg">
      <ion-avatar class="profile-img ion-margin">
        <ion-spinner *ngIf="!profileImg" class="profile-img-spinner"></ion-spinner>
        <img *ngIf="profileImg" [lazyLoad]="profileImg" />
      </ion-avatar>
      <ion-card-content>
        <ion-item lines="none">
          <ion-label position="stacked">Bio</ion-label>
          <ion-text>{{bio}}</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-list class="no-bg">
      <div *ngIf="!(userDocs.length > 0) || refreshing" class="skeleton-cards">
        <div *ngIf="!refreshing" class="aligner-item ion-padding">
          <div class="icon-header">
            <ion-text color="medium">
              <h4><i>It is empty here</i></h4>
            </ion-text>
            <ion-text color="primary">
              <h2>{{userName | titlecase}} did not post anything yet</h2>
            </ion-text>
          </div>
        </div>
        <app-skeleton-card></app-skeleton-card>
      </div>
      <div *ngIf="!refreshing && (userDocs.length > 0)">
        <app-doc-list [doc]="userDocs" (docUpdated)="onDocUpdate($event)"></app-doc-list>
      </div>
    </ion-list>
  </div>
</ion-content>
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button>
    <ion-icon name="chatbubbles-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light" (click)="comingSoonToast()">
      <ion-icon name="videocam-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" (click)="comingSoonToast()">
      <ion-icon name="call-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" [routerLink]="['/chat/' + userName]">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>