<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Edit {{userName | titlecase}}'s profile</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-modal-button" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <form [formGroup]="profileForm" id="profileForm">
    <ion-card>
      <div class="aligner">
        <div class="aligner-item">
          <ion-avatar [hidden]="!changeImg" class="profile-img ion-margin">
            <img [lazyLoad]="profileImg" />
          </ion-avatar>
          <div [hidden]="changeImg">
            <app-image-upload *ngIf="img.blob" [img]="img" formControlName="img" class="ion-margin">
            </app-image-upload>
          </div>
          <ion-button *ngIf="changeImg" size="small" fill="clear" expand="block" (click)="changeImg = !changeImg">
            Change Profile Photo
          </ion-button>
          <ion-button *ngIf="!changeImg" color="danger" size="small" fill="clear" expand="block"
            (click)="changeImg = !changeImg">
            Cancel
          </ion-button>
        </div>
      </div>
      <ion-card-content>
        <ion-item *ngIf="changeImg">
          <ion-label position="stacked">Bio</ion-label>
          <ion-textarea placeholder="Describe yourself..." formControlName="bio"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
<ion-fab *ngIf="profileForm.dirty" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="saveForm()">
    <ion-icon name="save-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>