<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-back-button [defaultHref]="['/info']"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="aligner">
        <div class="aligner-item ion-padding">
            <div class="icon-header">
                <h1>
                    <ion-icon name="cloud-offline"></ion-icon><br>CAIN stack template
                </h1>
                <h2>by heichling.xyz</h2>
            </div>

            <form *ngIf="!success" [formGroup]="registerForm" id="registerForm" (keyup.enter)="createAccount()">
                <ion-item class="ion-no-padding standard-bg">
                    <ion-input type="text" formControlName="username" placeholder="Username"></ion-input>
                    <ion-icon color="medium" slot="end" name="person-outline"></ion-icon>
                </ion-item>
                <ion-note>
                    <error-messages [control]="registerForm.controls.username"></error-messages>
                </ion-note>

                <ion-item class="ion-no-padding standard-bg">
                    <ion-input type="text" formControlName="email" placeholder="E-mail"></ion-input>
                    <ion-icon color="medium" slot="end" name="mail-outline"></ion-icon>
                </ion-item>
                <ion-note>
                    <error-messages [control]="registerForm.controls.email"></error-messages>
                </ion-note>

                <ion-item class="ion-no-padding standard-bg">
                    <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
                    <ion-icon color="medium" slot="end" name="key-outline"></ion-icon>
                </ion-item>
                <ion-note>
                    <error-messages [control]="registerForm.controls.password"></error-messages>
                </ion-note>

                <ion-item *ngIf="f['password'].dirty" class="fadeIn ion-no-padding standard-bg">
                    <ion-input type="password" formControlName="confirmPassword" placeholder="Confirm password">
                    </ion-input>
                    <ion-icon color="medium" slot="end" name="key"></ion-icon>
                </ion-item>
                <ion-note *ngIf="f['password'].dirty">
                    <error-messages [control]="registerForm"></error-messages>
                </ion-note>

                <ion-item class="ion-no-padding standard-bg">
                    <ion-label color="medium">Role</ion-label>
                    <ion-select formControlName="role" value="user" placeholder="User">
                        <ion-select-option value="user">User</ion-select-option>
                        <ion-select-option value="admin">Admin</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-button [disabled]="!registerForm.valid" expand="block" color="primary" fill="solid"
                    class="ion-margin-top" type="submit" (click)="createAccount()">
                    Register
                </ion-button>
                <ion-note *ngIf="errMessage" class="fadeInWarnSubmit" color="tertiary">
                    <p>{{errMessage}}</p>
                </ion-note>
            </form>

            <div *ngIf="success" class="success-wrapper">
                <h2 class="success-message">
                    {{success}}
                </h2>
            </div>

            <hr *ngIf="!success" class="hr-text" data-content="Already have an account?" />

            <hr *ngIf="success" class="hr-text" data-content="Account already confirmed?" />

            <ion-button color="secondary" expand="block" fill="outline" [routerLink]="['/login']">
                Login
            </ion-button>
        </div>
    </div>
</ion-content>