ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
}

.standard-bg {
  --background: var(--ion-background-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.success-wrapper {
  max-width: 350px;
  text-align: center;
}

.success-message {
  text-align: center;
  color: var(--ion-color-success);
}

.fadeInWarn {
  animation-name: fadeIn;
  animation-duration: 1s;
  color: var(--ion-color-tertiary);
}

.forgot-pwd {
  color: var(--ion-color-medium);
  font-size: 14px;
}
