<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-back-button [defaultHref]="['/info']"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="aligner">
        <div class="aligner-item">
            <div class="icon-header">
                <h1>
                    <ion-icon name="cloud-offline"></ion-icon><br>CAIN stack template
                </h1>
                <h2>by heichling.xyz</h2>
            </div>

            <form [formGroup]="forgotPwdForm" id="forgotPwdForm" (keyup.enter)="requestPwdReset()">
                <ion-item class="ion-no-padding standard-bg">
                    <ion-input type="text" formControlName="email" placeholder="E-mail"></ion-input>
                    <ion-icon color="medium" slot="end" name="mail-outline"></ion-icon>
                </ion-item>
                <ion-note>
                </ion-note>

                <ion-button expand="block" [disabled]="!forgotPwdForm.valid" color="primary" fill="solid"
                    class="ion-margin-top" type="submit" (click)="requestPwdReset()">
                    Request new password
                </ion-button>
                <div *ngIf="errMessage" class="fadeInWarn ion-text-center ion-padding" color="tertiary">
                    {{errMessage}}
                </div>
            </form>

            <hr class="hr-text" data-content="All good?" />

            <ion-button color="secondary" expand="block" fill="outline" type="button" [routerLink]="['/login']">
                Login
            </ion-button>

        </div>
    </div>
</ion-content>