<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons slot="secondary" collapse="true">
            <ion-back-button defaultHref="/app/conversations"></ion-back-button>
        </ion-buttons>
        <ion-title>Personal Notes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
    <div class="content">
        <ion-header collapse="condense">
            <ion-toolbar color="ion-color-step-50">
                <ion-buttons *ngIf="user" slot="end" collapse="true">
                    <ion-back-button defaultHref="/app/conversations"></ion-back-button>
                </ion-buttons>
                <ion-title size="large">Notes</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-list class="no-bg">
            <div *ngIf="!(privateDocs.length > 0) || refreshing" class="skeleton-cards">
                <div *ngIf="!refreshing" class="aligner-item ion-padding">
                    <div class="icon-header" (click)="openModal()">
                        <ion-text color="medium">
                            <h4><i>It is empty here</i></h4>
                        </ion-text>
                        <ion-text color="primary">
                            <h2>Create a post by pressing the <b>+</b> button</h2>
                        </ion-text>
                    </div>
                </div>
                <app-skeleton-card></app-skeleton-card>
            </div>
            <div *ngIf="!refreshing && (privateDocs.length > 0)">
                <app-doc-list [doc]="privateDocs" (docUpdated)="onDocUpdate($event)"></app-doc-list>
            </div>
        </ion-list>
    </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" form="privateForm">
    <ion-fab-button (click)="openModal()">
        <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>