.avatar {
  width: 24px;
  height: 24px;
  margin-right: 2px;
}

ion-card-content {
  --ion-background-color: #fff;
  padding: 0 !important;
  max-height: 360px;
}

.mega-text {
  width: 100%;
  height: 100%;
  min-height: 200px;
  background-image: linear-gradient(135deg, #6345b8 0%, #04a997 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  p {
    position: absolute;
    z-index: 1;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px #969595;
  }

  img {
    z-index: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(1px) grayscale(20%); /* Safari 6.0 - 9.0 */
    filter: blur(1px) grayscale(20%);
  }

  img:hover {
    -webkit-filter: blur(0px) grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: blur(0px) grayscale(0%);
  }

}

.spinner-container {
  width: 100%;
  text-align: center;
  padding: 10px;
}
