<ion-searchbar [formControl]="searchControl" (ionChange)="onSearchInput()"></ion-searchbar>
<div *ngIf="searching" class="spinner-container">
  <ion-spinner></ion-spinner>
</div>
<ion-card *ngFor="let doc of docs">
  <ion-item>
    <ion-button *ngIf="currentUser.user_id == doc.author" fill="clear" class="avatar-button" [routerLink]="['/app/me']"
      routerDirection="forward">
      <ion-avatar class="avatar">
        <img *ngIf="doc.userImg" [lazyLoad]="doc.userImg">
      </ion-avatar>
    </ion-button>
    <ion-button *ngIf="currentUser.user_id != doc.author" fill="clear" class="avatar-button"
      [routerLink]="['/profile/' + doc.author]" routerDirection="forward">
      <ion-avatar class="avatar">
        <img *ngIf="doc.userImg" [lazyLoad]="doc.userImg">
      </ion-avatar>
    </ion-button>
    <ion-label class="ion-text-wrap">{{doc.author | titlecase}}
      @{{doc.dateUpdated | date:'yyyy-MM-dd H:mm:ss'}}</ion-label>
    <ion-button (click)="presentActionSheet(doc)" slot="end" fill="clear" size="small">
      <ion-icon slot="icon-only" name=ellipsis-vertical></ion-icon>
    </ion-button>
  </ion-item>
  <ion-card-content>
    <div class="mega-text">
      <img *ngIf="doc.docImg" [lazyLoad]="doc.docImg" />
      <p>{{doc.title}}</p>
    </div>
  </ion-card-content>
  <ion-row class="ion-padding">
    <ion-col>
      <p>{{doc.note}}</p>
    </ion-col>
  </ion-row>
</ion-card>