<ion-header translucent="true">
    <ion-toolbar *ngIf="!isMobile">
        <ion-buttons slot="start">
            <ion-button color="tertiary">
                <ion-icon name="cloud-offline" class="ion-margin-end"></ion-icon>
                <b>CAIN stack</b>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="isMobile">
        <ion-title>Feed</ion-title>
    </ion-toolbar>
    <ion-tab-bar *ngIf="!isMobile" translucent="true" class="no-border">
        <ion-tab-button tab="conversations" layout="icon-start">
            <ion-icon name="chatbubbles-outline"></ion-icon>
            <ion-label>Conversations</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="feed" layout="icon-start" selected="true">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Feed</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="me" layout="icon-start">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
    <div class="content">
        <ion-header collapse="condense">
            <ion-toolbar color="ion-color-step-50">
                <ion-buttons *ngIf="user" slot="end" collapse="true">
                </ion-buttons>
                <ion-title size="large">Feed</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-list class="no-bg">
            <div *ngIf="!(sharedDocs.length > 0) || refreshing" class="skeleton-cards">
                <div *ngIf="!refreshing" class="aligner-item ion-padding">
                    <div class="icon-header" (click)="openModal()">
                        <ion-text color="medium">
                            <h4><i>It is empty here</i></h4>
                        </ion-text>
                        <ion-text color="primary">
                            <h2>Create a post by pressing the <b>+</b> button</h2>
                        </ion-text>
                    </div>
                </div>
                <app-skeleton-card></app-skeleton-card>
            </div>
            <div *ngIf="!refreshing && (sharedDocs.length > 0)">
                <app-doc-list [doc]="sharedDocs" (docUpdated)="onDocUpdate($event)"></app-doc-list>
            </div>
        </ion-list>
    </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" form="privateForm">
    <ion-fab-button (click)="openModal()" translucent="true">
        <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>